#img1{
    background-image: url(./assetsSLA/121412.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#div1{
    background-color: rgb(164, 207, 233);
    position: relative;
    margin-top: -2em;
    font-size: 2em;
    text-align: center;
    padding: 50px 0;
    padding-top: 140px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}

#div2{
    position: relative;
    top: 9em;
}

#slaAPP{
    position: relative;
    border: 3px solid green;
    /* background-color: transparent; */
    border-radius: 0;
    left: 10em;
    
}

.SLA{
    height: 15em;
    width: 21em;
}
.center-text{
    text-align: center;
}